body {
    margin: 0;
    background-color: #cecedb;
    color: #393C6E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;

}

.link {
    color: #393C6E;
    text-decoration: none;
}

.page-header {
    background-color: #393c6e;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    border: 2px solid #CECEDB;
    border-radius: 50%;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #3c3d6f;
    font-size: 23px;
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #cecedb;
    justify-content: center;
    align-items: center;
}

.nav-link:hover {
    background-color: #393c6e;
    color: #FFFFFF;
}

.banner {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: #9C9DB6;
}

.banner-img {
    width: 30%;
}

.banner-header {
    width: 70%;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: #393c6e;
    padding: 0 30px;
}

.main {
    width: 600px;
    min-height: 300px;
    margin: 10px auto;
    border-top: 2px solid #393c6e;
    border-bottom: 2px solid #393c6e;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.main-content-text {
    text-align: center;
}

.contact-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

.buttons {
    margin: 20px 0;
}

.contact-btn {
    width: 49%;
    height: 50px;
    border: none;
    background-color: #393c6e;
    color: #FFFFFF;
}

.red-text {
    color: red;
}

.displays {
    margin-bottom: 20px;
}

.name-cont {
    text-transform: uppercase;
    margin-bottom: 20px;
}
